$font-family-sans-serif: "Consolas", "Lucida Console", "Courier New", monospace;
$body-bg: #3f3f3f;
$text-color: #d7d7c8;
$dark: #0077c8;
$primary: darken($dark, 10);

$body-color: $dark;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$grid-gutter-width: 30px;
$ggw: $grid-gutter-width;
$ggw-half: $ggw / 2;