<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{[%10.10t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx" />
        </Console>

        <Sentry name="Sentry"/>
    </appenders>
    <loggers>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.apache" level="INFO"/>
        <Logger name="io.sentry" level="WARN"/>

        <AsyncRoot level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="Sentry" level="warn"/>
        </AsyncRoot>
    </loggers>
</configuration>
