<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Corvet</title>
    <link href="styles/site.css" rel="stylesheet" type="text/css"/>
    <script src="webjars/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="corvet/kotlin.js" type="text/javascript"></script>
</head>
<body>
<h1><span>Corvet</span> file sharing</h1>

<div id="main">
    <div id="url"></div>
    <div id="form">
        <div class="comment">Currently works in Firefox, Chrome and Edge</div>
        <div id="rte" contenteditable="true"></div>
        <div id="image"></div>
    </div>
    <script src="corvet/corvet.js" type="text/javascript"></script>
</div>

</body>
</html>
